<%- include('../../fragments/header.ejs') %>


    <main>
        <h2><%= __('doc.list.list') %></h2>
        <% if (docs.length && docs.length > 0) { %>
        <table class="table-list">

            <thead>
                <tr>
                    <th><%= __('doc.fields.firstName') %></th>
                    <th><%= __('doc.fields.LastName') %></th>
                    <th><%= __('doc.fields.Specialization') %></th>
                    <th><%= __('list.actions.title') %></th>
                </tr>
            </thead>

            <tbody>
                <% for (let doc of docs) { %>
                    <% if(loggedUser.Email == doc.Email || isAdmin) { %>
                <tr>
                    <td><%= doc.Name %></td>
                    <td><%= doc.LastName %></td>
                    <td><%= doc.Specialization %></td>
                    <td>
                        
                        <a href="/doctors/details/<%=doc.IdDoctor%>" class="buttonR button1"><%= __('list.actions.details') %></a>
                        <a href="/doctors/edit/<%= doc.IdDoctor %>" class="buttonR button1"><%= __('list.actions.edit') %></a>
                        <% if( isAdmin) { %>
                        <a href="" var myText = 'xD' class="buttonR button1" onclick="var r = window.confirm('') ; if(r) href ='/doctors/delete/<%=doc.IdDoctor%>'; else href='javascript:history.go(0)'; " ><%= __('list.actions.delete') %> </a>
                        <%}%>
                        <a href="/doctors/editAdmin/<%= doc.IdDoctor %>" class="buttonR button1"><%= __('list.actions.editAdmin') %></a>

                    </td>
                </tr>
                <%}%>

            <%}%>

            </tbody>
        </table>
        <% } else { %>
            <p> <%= __('doc.empty') %> </p>
            <% } %>
        <br>
        <% if( isAdmin) { %>
        <a href="add" class="buttonR button1">
            <%= __('doc.add') %>
        </a>
        <%}%>

        <p class="succesForm"> <%= __('list.succes') %>
        </p>
        
    </main>

    <%- include('../../fragments/footer.ejs') %>
    